/* Header.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

.header {
  min-width: 280px;
  width: 100%;
  background-color: var(--color-white); /* White background */
  color: #5b4747; /* Black text */
  padding: 5px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Work Sans', sans-serif; /* Updated font */
  position: sticky;
  top: 0;
  z-index: 1000;
  height: auto;
}



.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-logo-img {
  width: 70px;
  max-width: 100%;
  height: auto;
}
.header-logo span{
   font-size: 24px;
   font-weight: 600;
   color: var(--color-primary);
}

.header-nav {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-link {
  color: #3f4a55; /* Light gray text */
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease;
  font-weight: 800;
  
}

.nav-link:hover {
  color: #38bdf8; /* Sky blue on hover */
}

.header-actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.material-symbols-outlined {
  font-size: 44px;
}
.header-actions span{
  display: none;
}

.login-btn,
.signup-btn {
  padding: 7px 14px;
  font-size: var(--font-size-large);
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn {
  background-color: #64748b; /* Slate gray background */
  color: #fff;
}

.login-btn:hover {
  background-color: var(--color-gray-800); /* Darker slate gray */
  transform: scale(1.05);
}

.signup-btn {
  background-color: var(--color-primary); /* Sky blue background */
  color: var(--color-white) /* Dark text for contrast */
}

.signup-btn:hover {
  background-color: var(--color-primary-dark); /* Deeper sky blue */
  transform: scale(1.05);
}


/* Responsive Design */
@media (max-width: 865px) {
  

  .header-nav {
    flex-wrap: wrap;
    /* gap: 15px; */
    margin-top: 10px;
    /* display: none; */
  }
}

@media (max-width: 480px) {
  .header-logo-img {
    width: 70px;
  }


  .login-btn
  {
    font-size: 24px;
    padding: 6px 12px;
  }
  .signup-btn {
     display: none;
  }
}

@media (max-width:480px) {
  .header-nav{
    position: absolute;
    flex-direction: column;
    width: 100vw;
    left: 0;
    right: 0;
    top: 67px;
    align-items: center;
    background-color: #F5F5F5;
    height: 85vh;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Make it invisible */
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
  }

  .nav-link{
    font-size: 40px;
    line-height: 2;
  }
  .header-logo span{
    display: none;
  }
  

  .header-actions span{
    display: block;
  }
  .show{
    visibility: visible; /* When shown */
    opacity: 1; /* Make it visible */
   
  }


}

