/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Light gray background */
  color: #333; /* Dark gray text */
  box-sizing: border-box;
}

.app-container {
  min-width: 340px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

h2 {
  color: #1e293b; /* Dark blue-gray */
}


button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #38bdf8; /* Sky blue */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


button:hover {
  background-color: #0ea5e9; /* Deeper sky blue */
  transform: scale(1.05);
}


.logout-button {
  margin-top: 20px;
}

h2{
  text-align: center;
}


@media (max-width: 320px) {
  .login-container{
    width: 100%;
    padding: 10px;
  }


}